In [2]:
import pyautogui
import time
import os
import pandas as pd
import pyperclip
from tqdm import tqdm
import cleantext

In [3]:
df = pd.read_json('drogsData.json')

In [4]:
drogs = df.get('DROGUE')

In [5]:
def getParam(arr,index):
    ParamName = []
    for el in arr:
        ParamName.append(el[index])
    return ParamName

def removeDplStr(arr):
    newArr = []
    # remove duplicated element in list 
    for i in arr:
        if i not in newArr and type(i) == dict:
            newArr.append(i)

    return newArr

def removeDuplicate(arr):
    newArr = []
    # remove duplicated element in list 
    for i in arr:
        if i not in newArr:
            newArr.append(i)

    return newArr

In [6]:
list22 = []

for drog, index in zip(tqdm(drogs), range(1, len(drogs))):
    nomCom = cleantext.clean(drog[4]['Nom Commercial'], extra_spaces=True, reg=r'\s')
    list22.append(f"{nomCom} {drog[7]['Dosage'].strip()} {drog[-1]['Conditionnement'].strip()} {str(drog[-3]['Forme'].replace('.', '').strip())}")

100%|█████████▉| 6329/6330 [00:10<00:00, 592.52it/s]

In [7]:
list22[517]

'CORTISAF 0.001 T/30G PDE DERM'

In [15]:
import pandas as pd

df1 = pd.read_excel (r'factures/Full_Lot.xlsx',sheet_name = "Sheet1")
df2 = pd.read_excel (r'factures/Full_Lot.xlsx',sheet_name = "Sheet2")
df3 = pd.read_excel (r'factures/Full_Lot.xlsx',sheet_name = "Sheet3")
df4 = pd.read_excel (r'factures/Full_Lot.xlsx',sheet_name = "Sheet4")
df5 = pd.read_excel (r'factures/Full_Lot.xlsx',sheet_name = "Sheet5")
df6 = pd.read_excel (r'factures/Full_Lot.xlsx',sheet_name = "Sheet6")
df7 = pd.read_excel (r'factures/Full_Lot.xlsx',sheet_name = "Sheet7")
df8 = pd.read_excel (r'factures/Full_Lot.xlsx',sheet_name = "Sheet8")
df9 = pd.read_excel (r'factures/Full_Lot.xlsx',sheet_name = "Sheet9")

In [16]:
def getDataDict(df):
   df.columns = ["desination", "qty", "P.U DA", '%R','Prix AR','TVA','PPA','Lot', 'Shp','Peremp','THT']
   df.head()
   data = df.to_dict()
   data_dict = []
   for index, row in df[df.columns].iterrows():
        data_dict.append({row.to_list()[0] : row.to_list()[1:]})
   return data_dict

In [10]:
type(getDataDict(df1))

list

In [19]:


findProductCle = []

# arr = 'RHINATHIOL 5% SP ENF 100ML TOUX'.split(' ')
# arr = 'aldomet'.upper().split(' ')
# for string in arr:


def findMatch(ProductStr, li):
    Result = [f'{index} {match}' for index,
              match in enumerate(li) if ProductStr.upper() in match ]
    return Result


def findProduct(Name):
    arr = Name.upper().strip().split(' ')
    count = 0
    Find = findMatch(arr[0], list22)
    arr.pop(0)
    for el in arr:
        if '%' in el:
            try:
                el = str(eval(f'{str(el).replace("%","")}/100'))
            except ValueError:
                el = el
        ResutlA = findMatch(el, Find)
        if len(ResutlA) == 0:
            break
        else:
            Find = ResutlA
        count += 1
    return Find[0].split(' ')[count]


# findProduct('ZETA 2%  T/15G Crème')
findProduct('PREDNOL-L 40MG INJ B/1AMP')
# count

'664'

In [33]:

CleLot = []
CleProduitArr = []
qtyArr = []
p_uArr = []
rArr = []
Prix_ARArr = []
TvaArr = []
PpaArr = []
LotArr = []
ShpArr = []
PerempArr = []
ThtArr = []
CleEmplacement = []
CleStatutLot = []
CodeLot = []
bBloque = []
PrixVente = []
# =====================================
unAvailableProducts = []


# =====================================
# =====================================

for data_dict in tqdm([df1, df2, df3, df4, df5, df6, df7, df8, df9]):
    data_dict = getDataDict(data_dict)
    for index, el in enumerate(data_dict):
        for key in el.items():
            try:  # USED TO DETECT UNAVAILABLE PRODUCT IN LIST
                CleProduitArr.append(int(findProduct(key[0]))+1)
                goNext = True
            except:
                goNext = False
                unAvailableProducts.append(key[0])

            if goNext:
                qtyArr.append(key[1][0])
                p_uArr.append(key[1][1])
                rArr.append("")
                Prix_ARArr.append(key[1][3])
                TvaArr.append(key[1][4])
                PpaArr.append(key[1][5])
                LotArr.append(key[1][6])
                ShpArr.append(key[1][7])

                date = key[1][8]
                PerempArr.append(date)

                ThtArr.append(key[1][9])
                CleEmplacement.append(1)
                CleStatutLot.append(1)
                bBloque.append('FALSE')
                a = eval(str(key[1][5]).replace(',','.'))
                b = eval(str(key[1][7]).replace(',','.'))
                PRvent =  a + b
                PrixVente.append(PRvent)

                # CleLot.append(index+1)
                CodeLot.append('')


# LotCol1 = 'CleLot'
LotCol2 = 'NLot'
LotCol3 = 'DateExp'
LotCol4 = 'Quantite'
LotCol5 = 'CleEmplacement'
LotCol6 = 'CleProduit'
LotCol7 = 'PrixAchat'
LotCol8 = 'PrixVente'
LotCol9 = 'SHP'
LotCol10 = 'PPA'
LotCol11 = 'Marge'
LotCol12 = 'CleStatutLot'
LotCol13 = 'bBloque'
LotCol14 = 'CodeLot'


data = pd.DataFrame({
    # LotCol1: CleLot,
    LotCol2: LotArr,
    LotCol3: PerempArr,
    LotCol4: qtyArr,
    LotCol5: CleEmplacement,
    LotCol6: CleProduitArr,
    LotCol7: p_uArr,
    LotCol8: PrixVente,
    LotCol9: ShpArr,
    LotCol10: PpaArr,
    LotCol11: rArr,
    LotCol12: CleStatutLot,
    LotCol13: bBloque,
    LotCol14: CodeLot,

})
data

100%|██████████| 9/9 [00:00<00:00, 17.92it/s]

,NLot,DateExp,Quantite,CleEmplacement,CleProduit,PrixAchat,PrixVente,SHP,PPA,Marge,CleStatutLot,bBloque,CodeLot
0,M25021P,30/06/21,5,1,161,252.09,305.00,2.5,302.5,,1,FALSE,
1,M 15024R,28/02/21,10,1,3463,358.34,430.00,0.0,430.0,,1,FALSE,
2,402060,2021-01-07 00:00:00,5,1,2388,253.86,307.13,2.5,304.63,,1,FALSE,
3,U07901-0l,31105/20,10,1,628,289.19,349.53,2.5,347.03,,1,FALSE,
4,L02 D19,2022-01-04 00:00:00,3,1,2932,163.86,204.83,0.0,204.83,,1,FALSE,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,23,2020-01-08 00:00:00,15,1,1797,392.44,470.92,0.0,470.92,,1,FALSE,
180,8A967,2021-01-07 00:00:00,3,1,2400,869.39,1044.77,1.5,1043.27,,1,FALSE,
181,19DEG00,01/02121,3,1,2400,257.11,310.04,1.5,308.54,,1,FALSE,
182,9L061A=0,2021-01-12 00:00:00,2,1,1719,1044.19,1255.53,2.5,1253.03,,1,FALSE,
183,BA048932,31/10/19,4,1,3794,2134.77,2564.22,2.5,2561.72,,1,FALSE,

In [34]:
unAvailableProducts

['BIOFENAC LP 75MG CP B/30',
 'CLOMICYNE 1% Pommade opht. T/5G',
 'DICLOCED 1MG/ML COLLYRE FL/10ML',
 'PEPTIDAC 250MG-133.5MG FL 200',
 'PEPTIDAC 250MG-133.5MG FL 200',
 'DOXYCYCLINE caps 100MG B/6',
 'EMIDIUM HUP 10MG CP B/30(MOTILIUM)',
 'BANDELETTE CHECK 3 ISUCARE 50 SALEM',
 'CLOIMICYNE 1% Pommade opht. T/5G',
 'ANCEFAL 250MG/5ML PDRE SUSP 60ML',
 'BISPIRADENT 1.5MI/250MG CP B/10',
 'CARBONET GEES B/30',
 'CERLULYSE sol auric  5% FL/10ML',
 'DEBRITTNE 4.8MG/ML GRUES SP BUV',
 'VERSEC 24MG B/60 CP',
 'VERSEC 150MG   GELS B/1',
 'VERSEC 150MG   GELS B/1',
 'FENIRAMINE 0.01% SP']

In [35]:
print(len(qtyArr))
print(len(p_uArr))
print(len(rArr))
print(len(Prix_ARArr))
print(len(TvaArr))
print(len(PpaArr))
print(len(LotArr))
print(len(ShpArr))
print(len(PerempArr))
print(len(ThtArr))
print(len(CleEmplacement))
print(len(CleStatutLot))
print(len(bBloque))
print(len(PrixVente))
print(len(CleProduitArr))
print(len(CodeLot))
print(len(CleLot))

184
184
184
184
184
184
184
184
184
184
184
184
184
184
184
184
0

In [32]:
data.to_excel('lots/Lot2.xlsx', sheet_name='sheet2', index=1,index_label="CleLot")